<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILabelEditorService" receiveTimeout="00:05:00" sendTimeout="00:05:00"/>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ILabelEditorService"  receiveTimeout="00:05:00" sendTimeout="00:05:00"/>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:2113/" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_ILabelEditorService" contract="LabelEditorServices.ILabelEditorService"
          name="NetTcpBinding_ILabelEditorService">
        <identity>
          <userPrincipalName value="simon.balling@corp.avanade.org" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:2112/mex" binding="wsDualHttpBinding"
          bindingConfiguration="WSDualHttpBinding_ILabelEditorService"
          contract="LabelEditorServices.ILabelEditorService" name="WSDualHttpBinding_ILabelEditorService">
        <identity>
          <userPrincipalName value="simon.balling@corp.avanade.org" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>