<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILabelEditorService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILabelEditorService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/com" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILabelEditorService"
                contract="LabelEditorServices.ILabelEditorService" name="BasicHttpBinding_ILabelEditorService" />
            <endpoint address="net.tcp://localhost:2113/com" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILabelEditorService" contract="LabelEditorServices.ILabelEditorService"
                name="NetTcpBinding_ILabelEditorService">
                <identity>
                    <userPrincipalName value="simon.balling@corp.avanade.org" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>