<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILabelEditorService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_ILabelEditorService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2113/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILabelEditorService" contract="LabelEditorServices.ILabelEditorService"
                name="NetTcpBinding_ILabelEditorService">
                <identity>
                    <userPrincipalName value="SIMON\balli" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:2112/mex" binding="wsHttpBinding"
                bindingConfiguration="MetadataExchangeHttpBinding_ILabelEditorService"
                contract="LabelEditorServices.ILabelEditorService" name="MetadataExchangeHttpBinding_ILabelEditorService" />
            <endpoint address="net.tcp://localhost:2113/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILabelEditorService" contract="LabelEditorServices.ILabelEditorService"
                name="NetTcpBinding_ILabelEditorService1">
                <identity>
                    <userPrincipalName value="SIMON\balli" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:2112/mex" binding="wsHttpBinding"
                bindingConfiguration="MetadataExchangeHttpBinding_ILabelEditorService"
                contract="LabelEditorServices.ILabelEditorService" name="MetadataExchangeHttpBinding_ILabelEditorService1" />
        </client>
    </system.serviceModel>
</configuration>